$green-light:#27ae60;
$green-dark:#219151;
$black-light:#666;
$black:#444;
$black-dark:#333;
$blue: #287bff;
$boder: .1rem solid rgba(0,0,0,0.1);
$boder-hover: .1rem solid #27ae60;
$box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
$shadow: 0 .7rem 2.5rem rgba(0,0,0,0.08);